* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 139);
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100%;
  height: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  background: url("image/OIG1.jpg") no-repeat center center;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
}
.container #game-container {
  text-align: center;
  width: 50%;
  position: relative;
  margin: auto;
  background: url("image/OIG2.jpg") no-repeat center center;
  background-size: cover;
}
.container #game-container h1 {
  margin: 0;
}
.container #game-container #info {
  display: none;
}
.container #game-container #info p {
  font-size: 24px;
  padding: 7px 0 0;
  margin: 0;
}
.container #game-container #info #suggest {
  background-color: rgb(0, 0, 139);
  display: inline-block;
  padding: 10px 14px;
  border-radius: 4px;
  margin-top: 7px;
  cursor: pointer;
}
.container #game-container #info #suggest i {
  color: white;
}
.container #game-container #info #developer-info {
  background-color: rgb(0, 0, 139);
  display: inline-block;
  padding: 10px 12px;
  border-radius: 4px;
  margin-top: 7px;
  cursor: pointer;
  position: relative;
}
.container #game-container #info #developer-info i {
  color: white;
}
.container #game-container #info #info-dev {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  top: 0;
  display: none;
  font-size: 30px;
  color: black;
  font-family: Monaco, monospace;
}
.container #game-container #info #info-dev #close-info {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.container #game-container #info #info-dev .title-info {
  font-size: 45px;
  margin: 45px;
}
.container #game-container #info #info-dev div p {
  font-size: 35px;
  margin: 20px;
}
.container #game-container #info #next-level {
  background-color: rgb(0, 0, 139);
  display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
  margin-top: 7px;
  cursor: pointer;
}
.container #game-container #info #next-level i {
  color: white;
}
.container #game-container #info .shuffle {
  background-color: rgb(0, 0, 139);
  display: inline-block;
  padding: 10px 12px;
  border-radius: 4px;
  margin-top: 7px;
  cursor: pointer;
}
.container #game-container #info .shuffle i {
  color: white;
}
.container #game-container #info #pause {
  background-color: rgb(0, 0, 139);
  display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
  margin-top: 7px;
  cursor: pointer;
}
.container #game-container #info #pause i {
  color: white;
}
.container #game-container #info .overplay {
  position: absolute;
  top: 195px;
  left: 80px;
  width: 600px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.container #game-container #game-board {
  position: relative;
  width: fit-content;
  margin: auto;
}
.container #game-container #game-board .cell {
  z-index: 1;
  padding: 5px;
  border: 2px solid rgb(242, 142, 255);
}
.container #game-container #game-board .cell:hover {
  cursor: pointer;
  border: 2px solid red;
}
.container #game-container #game-board .onSelect {
  background-color: rgb(92, 231, 250) !important;
  border: 2px solid red;
}
.container #game-container #game-over {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.842);
  top: 0;
  left: 0;
  font-size: 80px;
  z-index: 50;
  display: none;
  position: absolute;
}
.container #game-container #game-over p {
  margin: 90px 0 0;
  position: relative;
}
.container #game-container #game-over .level-container {
  display: flex;
  flex-wrap: wrap;
}
.container #game-container #game-over .level-container .level-btn {
  flex-basis: 100%;
  height: 70px;
}
.container #game-container #game-over .level-container .level-btn button {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 40px;
  outline: 0;
  background-color: rgb(0, 0, 139);
  color: white;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 139);
  margin-bottom: 20px;
  width: 30%;
}
.container #game-container #game-overhover {
  cursor: pointer;
  background-color: rgb(253, 0, 198);
}
.container #game-container #win-game {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.842);
  top: 0;
  left: 0;
  font-size: 80px;
  z-index: 50;
  display: none;
  position: absolute;
}
.container #game-container #win-game p {
  margin: 90px 0 0;
  position: relative;
}
.container #game-container #win-game .level-container {
  display: flex;
  flex-wrap: wrap;
}
.container #game-container #win-game .level-container .level-btn {
  flex-basis: 100%;
  height: 70px;
}
.container #game-container #win-game .level-container .level-btn button {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 40px;
  outline: 0;
  background-color: rgb(0, 0, 139);
  color: white;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 139);
  margin-bottom: 20px;
  width: 30%;
}
.container #game-container #win-gamehover {
  cursor: pointer;
  background-color: rgb(253, 0, 198);
}
.container #game-container #level {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.842);
  top: 0;
  left: 0;
  font-size: 80px;
  z-index: 50;
  background: url("image/R (1).jpeg") no-repeat center center;
  background-size: cover;
}
.container #game-container #level p {
  margin: 90px 0 0;
  position: relative;
  margin-bottom: 50px;
  padding: 50px 0 0;
}
.container #game-container #level .level-container {
  display: flex;
  flex-wrap: wrap;
}
.container #game-container #level .level-container .level-btn {
  flex-basis: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container #game-container #level .level-container .level-btn button {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 40px;
  outline: 0;
  background-color: rgb(0, 0, 139);
  color: white;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 139);
  margin-bottom: 20px;
  width: 30%;
}
.container #game-container #level .level-container .select-option {
  flex-basis: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container #game-container #level .level-container .select-option #choices {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 40px;
  outline: 0;
  background-color: rgb(0, 0, 139);
  color: white;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 139);
  margin-bottom: 20px;
  width: 30%;
  font-size: 30px;
  text-align: center;
}
.container #game-container #levelhover {
  cursor: pointer;
  background-color: rgb(253, 0, 198);
}
.container #game-container #reload {
  border: 2px solid red;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.842);
  top: 0;
  left: 0;
  font-size: 40px;
  z-index: 50;
  position: absolute;
  display: none;
}
.container #game-container #reload p {
  margin: 0;
  margin-top: 100px;
}
.container #game-container #reload #reloader {
  width: 150px;
  height: 150px;
  margin: 30px auto;
  border-top: 10px solid red;
  border-bottom: 10px solid rgb(228, 22, 176);
  border-left: 10px solid cyan;
  border-right: 10px solid rgb(62, 62, 252);
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.container #game-container #myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
