
* {
  box-sizing: border-box;
  user-select: none;
}

$colorBase: rgb(0, 0, 139);
body {
  margin: 0;
  padding: 0;
  color: $colorBase;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100%;
  height: auto;
}

@mixin styleOfButtonFrame() {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.842);
  top: 0;
  left: 0;
  font-size: 80px;
  z-index: 50;
}

@mixin styleOfParagraph() {
  margin: 90px 0 0;
  position: relative;
}

@mixin styleOfButton() {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 40px;
  outline: 0;
  background-color: $colorBase;
  color: white;
  border-radius: 20px;
  border: 2px solid $colorBase;
  margin-bottom: 20px;
  width: 30%;
}

@mixin hover() {
  &hover {
    cursor: pointer;
    background-color: rgb(253, 0, 198);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background: url("image/OIG1.jpg") no-repeat center center;
  background-size: cover;

  margin: 0;
  padding: 0;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.container {
  height: 100%;


  #game-container {
    text-align: center;
    width: 50%;
    position: relative;
    margin: auto;
    background: url("image/OIG2.jpg") no-repeat center center;
    background-size: cover;


    h1 {
      margin: 0;
    }

    #info {
      display: none;

      p {
        font-size: 24px;
        padding: 7px 0 0;
        margin: 0;
      }

      #suggest {
        background-color: $colorBase;
        display: inline-block;
        padding: 10px 14px;
        border-radius: 4px;
        margin: 7px 10px 0;
        cursor: pointer;
        text-shadow: none;

        i {
          color: white;
        }
      }

      #developer-info {
        background-color: $colorBase;
        display: inline-block;
        padding: 10px 12px;
        border-radius: 4px;
        margin: 7px 10px 0;
        cursor: pointer;
        position: relative;
        text-shadow: none;

        i {
          color: white;
        }


      }

      #info-dev {
        background-color: rgb(255, 255, 255, 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 50;
        top: 0;
        display: none;
        font-size: 30px;
        color: black;
        font-family: Monaco, monospace;

        #close-info {
          position: absolute;
          right: 10px;
          top: 10px;
          cursor: pointer;
        }

        .title-info {
          font-size: 45px;
          margin: 45px;
        }

        div {
          p {
            font-size: 35px;
            margin: 20px;
          }
        }
      }

      #next-level {
        background-color: $colorBase;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 4px;
        margin: 7px 10px 0;
        cursor: pointer;
        text-shadow: none;

        i {
          color: white;
        }
      }

      .shuffle {
        background-color: $colorBase;
        display: inline-block;
        padding: 10px 12px;
        border-radius: 4px;
        margin: 7px 10px 0;
        cursor: pointer;
        text-shadow: none;

        i {
          color: white;
        }
      }

      #pause {
        background-color: $colorBase;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 4px;
        margin: 7px 10px 0;
        cursor: pointer;
        text-shadow: none;

        i {
          color: white;
        }
      }

      #on-ground {

      }

      .overplay {
        position: absolute;
        top: 195px;
        left: 80px;
        width: 600px;
        height: 500px;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 9999;

      }
    }

    #game-board {
      position: relative;
      width: fit-content;
      margin: auto;


      .cell {
        z-index: 1;
        padding: 5px;
        border: 2px solid rgb(242, 142, 255);
      }

      .cell:hover {
        cursor: pointer;
        border: 2px solid red;
      }

      .onSelect {
        background-color: rgb(92, 231, 250) !important;
        border: 2px solid red;
      }
    }

    #game-over {
      @include styleOfButtonFrame;
      display: none;
      position: absolute;

      p {
        @include styleOfParagraph;
      }

      .level-container {
        display: flex;
        flex-wrap: wrap;

        .level-btn {
          flex-basis: 100%;
          height: 70px;

          button {
            @include styleOfButton;
          }
        }
      }

      @include hover;
    }

    #win-game {
      @include styleOfButtonFrame;
      display: none;
      position: absolute;

      p {
        @include styleOfParagraph;
      }

      .level-container {
        display: flex;
        flex-wrap: wrap;

        .level-btn {
          flex-basis: 100%;
          height: 70px;

          button {
            @include styleOfButton;
          }
        }
      }

      @include hover;
    }

    #level {
      @include styleOfButtonFrame;
      background: url("image/R (1).jpeg") no-repeat center center;
      background-size: cover;

      p {
        @include styleOfParagraph;
        margin-bottom: 50px;
        padding: 50px 0 0;
      }

      .level-container {
        display: flex;
        flex-wrap: wrap;

        .level-btn {
          flex-basis: 100%;
          height: 170px;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            @include styleOfButton;
          }
        }

        .select-option {
          flex-basis: 100%;
          height: 170px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .label {
            font-size: 45px;
          }

          #choices {
            @include styleOfButton;
            font-size: 30px;
            text-align: center;
          }
        }
      }

      @include hover;
    }


    #reload {
      border: 2px solid red;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.842);
      top: 0;
      left: 0;
      font-size: 40px;
      z-index: 50;
      position: absolute;
      display: none;

      p {
        margin: 0;
        margin-top: 100px;
      }

      #reloader {
        width: 150px;
        height: 150px;
        margin: 30px auto;
        border-top: 10px solid red;
        border-bottom: 10px solid rgb(228, 22, 176);
        border-left: 10px solid cyan;
        border-right: 10px solid rgb(62, 62, 252);
        border-radius: 50%;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }
    }

    #myCanvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

  }
}