* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(50 205 50);
  font-family: 'Lobster', cursive;
}

img {
  width: 100%;
  height: auto;
}

@mixin styleOfButtonFrame() {
  //border: 2px solid red;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.842);
  top: 0;
  left: 0;
  font-size: 80px;
  z-index: 50;
}

@mixin styleOfParagraph() {
  margin: 0;
  margin-top: 90px;
  position: relative;
}

@mixin styleOfButton() {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 1px;
  font-size: 40px;
  outline: 0;
  background-color: rgb(50 205 50);
  color: white;
  border-radius: 20px;
  border: 2px solid rgb(50 205 50);
  margin-bottom: 20px;
  width: 30%;
}

@mixin hover() {
  &hover {
    cursor: pointer;
    background-color: rgb(253, 0, 198);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background: url("image/R (1).jpeg") no-repeat;
  background-size: cover;

  margin: 0;
  padding: 0;
}

.container {
  height: 100%;


  #game-container {
    text-align: center;
    width: 50%;
    position: relative;
    margin: auto;
    background: url("image/bg.jpg") no-repeat;


    h1 {
      margin: 0;
    }

    #info {
      display: none;
      padding: 35px 45px 0;

      p {
        padding: 0;
        font-size: 24px;
        margin: 0 0 10px;
      }

      #suggest {
        background-color: rgb(50 205 50);
        display: inline-block;
        padding: 10px 14px;
        border-radius: 4px;
        margin-top: 5px;
        cursor: pointer;

        i {
          color: white;
        }
      }
      #developer-info {
        background-color: rgb(50 205 50);
        display: inline-block;
        padding: 10px 12px;
        border-radius: 4px;
        margin-top: 5px;
        cursor: pointer;

        i {
          color: white;
        }
      }
      #next-level {
        background-color: rgb(50 205 50);
        display: inline-block;
        padding: 10px 15px;
        border-radius: 4px;
        margin-top: 5px;
        cursor: pointer;

        i {
          color: white;
        }
      }

      .shuffle {
        background-color: rgb(50 205 50);
        display: inline-block;
        padding: 10px 12px;
        border-radius: 4px;
        margin-top: 5px;
        cursor: pointer;

        i {
          color: white;
        }
      }

      #pause {
        background-color: rgb(50 205 50);
        display: inline-block;
        padding: 10px 15px;
        border-radius: 4px;
        margin-top: 5px;
        cursor: pointer;

        i {
          color: white;
        }
      }

      #on-ground {

      }

      .overplay {
        position: absolute;
        top: 245px;
        left: 111px;
        width: 540px;
        height: 450px;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 9999;

      }
    }

    #game-board {
      position: relative;
      width: fit-content;
      margin: auto;


      .cell {
        z-index: 1;
        padding: 5px;
        border: 2px solid rgb(242, 142, 255);
      }

      .cell:hover {
        cursor: pointer;
        border: 2px solid red;
      }

      .onSelect {
        background-color: rgb(92, 231, 250) !important;
        border: 2px solid red;
      }
    }

    #game-over {
      @include styleOfButtonFrame;
      display: none;
      position: absolute;

      p {
        @include styleOfParagraph;
      }

      .level-container {
        display: flex;
        flex-wrap: wrap;

        .level-btn {
          flex-basis: 100%;
          height: 70px;

          button {
            @include styleOfButton;
          }
        }
      }

      @include hover;
    }

    #win-game {
      @include styleOfButtonFrame;
      display: none;
      position: absolute;

      p {
        @include styleOfParagraph;
      }

      .level-container {
        display: flex;
        flex-wrap: wrap;

        .level-btn {
          flex-basis: 100%;
          height: 70px;

          button {
            @include styleOfButton;
          }
        }
      }

      @include hover;
    }

    #level {
      @include styleOfButtonFrame;
      background: url("image/R.jpeg") no-repeat;
      background-size: cover;

      p {
        @include styleOfParagraph;
        margin-bottom: 50px;
        color: rgb(50 205 50);
      }

      .level-container {
        display: flex;
        flex-wrap: wrap;

        .level-btn {
          flex-basis: 100%;
          height: 170px;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            @include styleOfButton;
          }
        }

        .select-option {
          flex-basis: 100%;
          height: 170px;
          display: flex;
          align-items: center;
          justify-content: center;


          #choices {
            @include styleOfButton;
            font-size: 30px;
            text-align: center;
          }
        }
      }

      @include hover;
    }


    #reload {
      border: 2px solid red;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.842);
      top: 0;
      left: 0;
      font-size: 40px;
      z-index: 50;
      position: absolute;
      display: none;

      p {
        margin: 0;
        margin-top: 100px;
      }

      #reloader {
        width: 150px;
        height: 150px;
        margin: 30px auto;
        border-top: 10px solid red;
        border-bottom: 10px solid rgb(228, 22, 176);
        border-left: 10px solid cyan;
        border-right: 10px solid rgb(62, 62, 252);
        border-radius: 50%;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }
    }

    #myCanvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

  }
}